<html>

<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
        <div class="description">
            <center>
                <p class="title-keterangan">Hasil Prediksi Harga</p>

                <p class="result">Perkiraan Harga untuk Anda adalah ${{prediction}}</p>

                <br><br>
                <a href='/' class="back button1">Kembali</a>
            </center>    
        </div>
</body>
</html>